.container { 
    border: 2px solid #ff4407;
    border-radius: 10px;
    margin: 50px 40px;
    padding: 20px 30px
}
.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerHeaderMessage {
    background-color: #ff4407;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    height: fit-content;
    width: fit-content;
}
.container h2 {
    font-family: "Public Sans Regular";
    font-size: 18px;
    color: #6b9ac4;
    margin-top: 0;

    margin-bottom: 10px;
}
.formContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    max-width: 900px;
}
.formContainer label {
    font-family: 'Public Sans Regular';
    font-size: 13px;
}
.formField {
    display: flex;
    flex-direction: column;
    width: auto;
}
.formField input {
    border: 1px solid #ffad91;
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 5px;
    max-width: 200px;
}
::placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: italic;
}