@font-face {
    font-family: 'Public Sans Bold';
    src: url('./public_sans/fonts/otf/PublicSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans Regular';
    src: url('./public_sans/fonts/otf/PublicSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans Thin';
    src: url('./public_sans/fonts/otf/PublicSans-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Bold';
    src: url('./oswald/static/Oswald-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 480px) {
    .font-title {
        font-size: 35px;
    }
}

@media (min-width: 481px) {
    .font-title {
        font-size: 45px;
    }
}

.font-body {
    font-family: 'Public Sans Regular';
    font-size: 13px;
}

.font-body-thin {
    font-family: 'Public Sans Thin';
    font-size: 13px;
}

.font-body-bold {
    font-family: 'Public Sans Bold';
    font-size: 13px;
}

.font-title {
    font-family: 'Oswald Bold';
}