@media (max-width: 720px) {
    .breadcrumb {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 721px) {
    .breadcrumb {
        margin-left: 90px;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumbItem {
    text-decoration: none;
    color: #212121;
}

.separator {
    margin: 0 5px;
}

.active {
    text-decoration: underline;
}
