.container {
  border: 2px solid #ff4407;
  border-radius: 10px;
  margin: 50px 40px;
  padding: 20px 30px;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

.containerHeaderMessage {
  background-color: #ff4407;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
}

.headerText {
  display: flex;
  flex-direction: column;

  font-family: "Public Sans Regular";
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  width: auto;
  max-width: 400px;
}

.headerText h2 {
  margin: 0;
}
