@media (min-width: 721px) {
    .titleBackground {
        border-radius: 30px;
        padding: 30px 0px;
        margin: 50px auto;
        width: 80%;
        max-width: 1100px;
    }
}

.titleBackground {
    background-color: #ff4407;
    height: fit-content;
}

.title {
    color: #ffffff;
}

.text {
    color: #ffffff;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: -1px;
}