.titleBackground {
    background-color: #ff4407;
    height: fit-content;
}

.title {
    color: #ffffff;
}

.text {
    color: #ffffff;
}

.titleContainer {
    display: flex;
    flex-direction: column;

    padding: 30px;
    margin-top: -1px;
}