@media (max-width: 480px) {
    .servicePacksContainer {
        margin: 20px auto;
        max-width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .servicePacksContainer {
        margin: 20px auto;
        max-width: 80%;
    }
}

@media (min-width: 651px) and (max-width: 1023px) {
    .servicePacksContainer {
        margin: 50px auto;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .servicePacksContainer {
        margin: 50px auto;
        max-width: 840px;
    }
}

.servicePacksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
}