@media (max-width: 480px) {
  .logo {
      width: 50px;
    }
}

@media (min-width: 481px) {
  .logo {
      width: 200px;
    }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4407;
  padding: 10px 20px;
  color: #ffffff;
}

.contact {
  text-align: right;
}

.contact p {
  margin: 2px;
}
