@media (max-width: 480px) {
    .infoContainer {
        /* padding-top: 70px;
        padding-left: 130px;
        padding-right: 130px; */
        column-gap: 30px;
        justify-content: space-around;
        min-height: 100px;
    }
}

@media (min-width: 481px) {
    .infoContainer {
        column-gap: 50px;
        justify-content: start;
        min-height: 100px;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    position: relative;
    height: 250px;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    max-width: 210px;
}

.infoBlock img {
    max-width: 100px;
}

.line {
    border-style: solid;
    border-width: 1px;
    border-color: #ff4407;
    margin-bottom: 20px;
    width: 45px;
}

.arrowUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
}