.iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 260px; 
    left: 200px;
    transform: translateX(-50%);

    background-color: white;
    border: 10px solid #212121;
    border-radius: 30px;
    margin-top: -20px;
    height: fit-content;
    width: fit-content;
    z-index: 10;
}