.container {
  margin: 20px 100px;
}
.container ul {
  margin-top: 0px;
  margin-bottom: 30px;
}
.container p,
li {
  font-family: "Public Sans Regular";
  font-size: 13px;
}
.container h2 {
  font-family: "Public Sans Regular";
  font-size: 18px;
  color: #48a9a6;

  margin-bottom: 10px;
}
.colorBar {
  background-color: #22333b;
  position: absolute;
  bottom: -10px;
  right: 100px;
  height: 20px;
  width: 250px;
}
.imageDiv {
  background-image: url("../../../assets/img/pack1.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 130px;
  height: 400px;
  width: 100%;
}
.iconDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 340px;
  left: 200px;
  transform: translateX(-50%);

  background-color: white;
  border: 10px solid #212121;
  border-radius: 30px;
  margin-top: -20px;
  height: fit-content;
  width: fit-content;
  z-index: 10;
}
.serviceItem {
  display: flex;
  margin-bottom: 15px;
}

.serviceTitle {
  flex: 0 0 30%;
  margin-right: 20px;
}

.serviceDescription {
  flex: 1;
}
